* {
    /* margin: 0 */
    font-family: arial;
}

/* Scroll */

::-webkit-scrollbar {
    display: none;
}

/* body */

body {
    position: relative;
}

/* App */

.App {
    position: relative;
}

/* header */

.header {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin: 30px 0;
}

.name {
    margin-left: 5px;
    font-size: 35px;
    text-decoration: none;
    color: black;
    font-family: "Roboto" !important;
}

.icons {
    position: absolute;
    right: 0;
    bottom: 0;
}

#twitter {
    color: #0097f0;
    text-decoration: none;
    font-size: 30px;
}

#linkedIn {
    color: #006bac;
    text-decoration: none;
    font-size: 30px;
    margin-left: 5px;
}

.menuContainer {
    grid-column: 3;
    display: grid;
    justify-content: end;
    position: relative;
}

#menu {
    height: 35px;
}

#menu:hover {
    opacity: 1;
    cursor: pointer;
}

.menuLinks {
    z-index: 2;
    position: absolute;
    right: 0px;
    top: 50px;
    text-align: right;
}

.menuLinks a {
    display: block;
    text-decoration: none;
    padding-bottom: 30px;
    background: rgba(255, 255, 255, 0.9);
    font-size: 21px;
    color: black;
}

.menuLinks a:hover {
    color: gainsboro;
}

/* main */

.main {
    position: relative;
}

.main h2 {
    font-family: "Roboto" !important;
    text-align: center;
    font-size: 30px
}

/* banner */

.banner {
    display: flex;
}

.banner img {
    width: 98%;
    border: 1px solid gainsboro;
}

.banner img:hover {
    opacity: 0.1;
    transition: 0.5s;
    cursor: pointer;
}

.spacer {
    height: 15vh;
}

.infoBoxes {
    display: grid;
    grid-template-columns: repeat(3, 33%);
}

.infoBoxes div {
    display: grid;
    position: relative;
    justify-content: center;
    height: 350px;
    margin-bottom: 45px;
}

.box img {
    height: 100%;
    border: 1px solid grey;
}

.box img:hover {
    animation: opacityPercentage 1.4s;
    animation-fill-mode: forwards;
}

.box span {
    font-weight: bold;
}

.textBorder {
    position: absolute !important;
    height: 99% !important;
    width: 99%;
    z-index: -1;
    font-size: 18px;
    border: 1px solid grey;
    margin: 0;
}

.box p {
    margin: 0;
    padding: 10px 10px
}

#text1 {
    line-height: 27px;
}

#text2 {
    line-height: 40px;
}

#text3 {
    line-height: 23px;
}

#text4 {
    line-height: 36px;
}

#text5 {
    line-height: 30px;
}

#text6 {
    line-height: 38px;
}

/* Bio z-index 1*/

.Bio {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
    height: 100%;
    width: 100%;
}

.bioImg {
    margin-right: 1vh;
}

.bioText {
    margin-left: 30px;
    width: 270px;
    font-size: 20px;
    text-align: justify;
}

/* Koeln */

.Component {
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
    height: 100%;
    width: 100%;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.imageContainer img {
    max-height: 40vh;
    max-width: 80vw;
}

.arrowKeys {
    display: flex;
    align-items: center;
}

.arrowKeys:hover {
    cursor: pointer;
    opacity: 0.8;
}

.arrowKeys img {
    height: 35px;
}

/* Stellland */

#stelland.imageContainer {}

/* footer */

.footerContainer {}

.footer {
    text-align: center;
    background-color: grey;
    height: 25px;
}

.footer span {
    margin-right: 10px;
    color: white;
}

.CR {
    display: grid;
    justify-content: center;
}

/* keyframes */

@keyframes opacityPercentage {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.1;
    }
}

@keyframes textOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}