* {
    /* margin: 0 */
    /* font-family: 'Frank Ruhl Libre', serif; */
}

/* body */

body {
    /* background-image: url("./images/Poschmann5.jpg"); */
}

/* header */

.header {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    margin: 30px 0;
}

.name {
    margin-left: 5px;
    font-size: 35px;
    text-decoration: none;
    color: black;
    font-family: "Roboto" !important
}

.menuContainer {
    grid-column: 3;
    display: grid;
    justify-content: end;
    position: relative;
}

#menu {
    height: 35px;
    /* margin: auto */
}

#menu:hover {
    opacity: 1;
    cursor: pointer
}

.menuLinks {
    z-index: 2;
    position: absolute;
    right: 0px;
    top: 40px;
    text-align: right;
}

.menuLinks a {
    display: block;
    text-decoration: none;
    padding-bottom: 30px;
    background: rgba(255, 255, 255, 0.9);
    font-size: 21px;
    color: black
}

.menuLinks a:hover {
    color: gainsboro;
}

/* main */

.main {
    position: relative;
    height: 100vh;
}

/* banner */

.banner img {
    width: 19%;
    margin: 0 5px;
}

.banner img:hover {
    opacity: 0.1;
    transition: 0.5s;
    cursor: pointer
}

/* Bio z-index 1*/

.Bio {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
    height: 100%;
    width: 100%
}

.bioImg {
    margin-right: 1vh
}

.bioText {
    width: 270px;
    font-size: 20px;
    text-align: justify;
}

/* Koeln */

.koelnComponent {
    position: absolute;
    z-index: 1;
    background: rgba(255, 255, 255, 1);
    height: 100%;
    width: 100%;
}

.imageContainer {
    display: flex;
    justify-content: center
}

.imageContainer img {
    max-height: 30vh
}

.arrowKeys {
    height: 35px
}

.arrowKeys:hover {
    cursor: pointer;
    opacity: 0.8
}

/* footer */

.footer {
    text-align: center;
    background-color: black;
    height: 25px;
}

.footer span {
    margin-right: 10px;
    color: white
}

.CR {
    display: grid;
    justify-content: center;
}